body {
    font-family: 'Times New Roman';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    align-items: center;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    padding: 10px;
    background: lightblue;
    width: 75%;
}

div.align {
    text-align: center;
}

.secondary-container {
    width: 100%; 
    padding: 50px;
    border-bottom: 1px solid maroon;
    border-spacing: inherit;
}

#mainheader {
    color: darkorange;
    opacity: 0.75;
    font-size: 60px;
}
