@font-face{
    font-family:'GlassQntiqua';
    src: url('../fonts/GlassAntiqua-Regular.ttf') format('truetype');
    font-style: 'regular';
}

@font-face{
    font-family: 'MontserratAlternates';
    src: url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-style: 'bold';
}

@font-face{
    font-family: 'MontserratAlternates';
    src: url('../fonts/MontserratAlternates-Italic.ttf') format('truetype');
    font-style: 'italic';
}

@font-face{
    font-family:'RoMontserratAlternatesbotoMono';
    src: url('../fonts/MontserratAlternates-Black.ttf') format('truetype');
    font-style: 'normal';
}