div{
    text-align: left;
    font-family: MontserratAlternates;
    font-style: normal;
    margin: 10px;
}

.title{
    font-family: GlassAntiqua;
    font-size: 80px;
    text-shadow: -6px 2px 0 white;
    color:darkblue;
    background-color:lightblue;
    height: 100px;
    text-align: center;
}

#temperature{
    font-family: MontserratAlternates;
    font-weight: 900;
}

#temperature:hover:after {

    content: "a distinctive class of neurons that discharge both when an individual executes a motor act and when he observes another individual performing the same or a similar motor act.";
    font-weight: 400;
    color: red;
    font-style: italic;
}

#temp {
  font-weight: 800;

}

#temp:hover {
    background: url("../images/temp.gif");
    float: right;
    display: block;
    width: 500px;
    height: 400px;
}