/* styles.css */

body {
    font-family: 'OpenSans-Regular', sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: darkblue;
    color: white;
    padding: 10px;
}

h1 {
    margin-top: 0;
}

section {
    padding: 20px;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: white;
}

div {
    text-align: left;
    margin: 10px;
    font-family: 'OpenSans-Regular', sans-serif;
}

.title {
    font-size: 80px;
    text-shadow: -6px 2px 0 #000;
    color: darkblue;
    background-color: lightblue;
    height: 100px;
    text-align: center;
}

#temperature:hover:after {
    content: "While fall is generally a pleasant season, it's important to be prepared for weather changes. Montana is known for its unpredictable weather, so having warm layers, a jacket, and possibly rain gear is advisable.";
    font-weight: 400;
    color: red;
    font-style: italic;
}

#temp:hover {
    background: url("../images/temp.gif");
    float: right;
    display: block;
    width: 500px;
    height: 400px;
}

img {
    padding: 20px 20px;
}
