body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: MontserratAlternates;
    color: #333;
    margin: 20px;
}

header {
    background-color: orange; 
    color: #fff; 
    padding: 10px 0;
    text-align: center;
}

title {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    font-family: 'GlassAntiqua', Arial, sans-serif;
    color: red; 
    font-size: 28px; 
}

.book-list {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-weight: normal;
}

.book-list ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-list li {
    width: 45%; 
    margin: 10px;
    text-align: center;
}

.book-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
